<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tags</key>
	<dict>
		<key>Alice</key>
		<string>#FF9966</string>
		<key>Bob</key>
		<string>#6699FF</string>
	</dict>
	<key>api</key>
	<dict>
		<key>dashboardAPI</key>
		<string></string>
		<key>unsplashAccessKey</key>
		<string></string>
		<key>overlayImageProviderURLTemplate</key>
		<string></string>
	</dict>
	<key>sensor</key>
	<dict>
		<key>livingThermometerPeripheralID</key>
		<string></string>
		<key>livingCO2PeripheralID</key>
		<string></string>
		<key>bedroomThermometerPeripheralID</key>
		<string></string>
		<key>studyThermometerPeripheralID</key>
		<string></string>
	</dict>
</dict>
</plist>
